<!-- #sobre -->
<section id="sobre">
	<div class="container">
		<!-- .section_title_wrap -->
		<div class="section_title_wrap">
			<h1 class="section_title">
				Espanhol
			</h1>
			<p>
			    O curso de informática possibilitará ao aluno o pleno domínio do sistema operacional Windows e da Internet. Além disso, serão apresentadas as ferramentas presentes no Word e Excel, a fim de despertar o interesse do aluno aos programas básicos para utilização do computador.
            </p>
            <p>
                Por fim, as Redes Sociais serão exploradas de forma completa e prática, possibilitando o conhecimento e habilidade suficientes para se atualizar e utilizar o que há de melhor em termos de Internet.
			</p>
            <p>
                Ao término de cada turma ocorre uma cerimônia de entrega dos certificados para todos os alunos que concluíram o curso.
			</p>
		</div> 
		<!-- /.section_title_wrap -->
	</div>
</section> 
