<section id="event_parties">
	<div class="container">
		<div class="section_title_wrap">
			<h1 class="section_title">
				Galeria
			</h1>
		</div> 
		<div class="row">
			<% @galerias.each do |galeria| %>
			<div class="single_event col-lg-4 col-md-4 col-sm-4 col-xs-12 wow slideInLeft">
				<div class="image-wrap">
					<%= image_tag(galeria.foto.to_s, alt: galeria.legenda) %>
					<div class="overlay"></div>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</section> 
