<!-- footer -->
<footer>
	
	<!-- .footer_top -->
	<div class="footer_top">
		<%= link_to image_tag("logo.png", alt: "Logo do Projeto Nova Era"), root_path %>
	</div> 
	<!-- /.footer_top -->

	<!-- .footer_bottom -->
	<div class="footer_bottom">
		<p>&copy; 2018 Desenvolvido por Fatec RL</a></p>
	</div> 
	<!-- /.footer_bottom -->
</footer> 
<!-- /footer -->